.Form {
  display: flex;
  align-items: center;
  background-color: #292929;
}

.Form input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 5px;
}

.Form button {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}
